*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000300;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container{

    width: 100vw;
    height: 100vh;
    border: 2px #00d9ff solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#github {
    font-size: 8em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080,10px 1px 12px #00000080,2px 2px 2px #00000080 ,2px 2px 2px #00000080 ,inset 2px 2PX 10PX #00000080,inset 2px 2px 10px #00000080,inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate1 3s linear infinite;
    text-shadow: 0 0 50px #0072ff,0 0 100px #0072ff,0 0 150px #0072ff,0 0 200px #0072ff;
}
#apple {
    font-size: 8em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080,10px 1px 12px #00000080,2px 2px 2px #00000080 ,2px 2px 2px #00000080 ,inset 2px 2PX 10PX #00000080,inset 2px 2px 10px #00000080,inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate2 3s linear infinite;
    text-shadow: 0 0 50px #0072ff,0 0 100px #0072ff,0 0 150px #0072ff,0 0 200px #0072ff;
}
#facebook {
    font-size: 8em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080,10px 1px 12px #00000080,2px 2px 2px #00000080 ,2px 2px 2px #00000080 ,inset 2px 2PX 10PX #00000080,inset 2px 2px 10px #00000080,inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate4 3s linear infinite;
    text-shadow: 0 0 50px #0072ff,0 0 100px #0072ff,0 0 150px #0072ff,0 0 200px #0072ff;
}
#twitter {
    font-size: 8em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080,10px 1px 12px #00000080,2px 2px 2px #00000080 ,2px 2px 2px #00000080 ,inset 2px 2PX 10PX #00000080,inset 2px 2px 10px #00000080,inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate3 3s linear infinite;
    text-shadow: 0 0 50px #0072ff,0 0 100px #0072ff,0 0 150px #0072ff,0 0 200px #0072ff;
}

@keyframes animate1 {
    25% {
        text-shadow: 0 0 50px #ff00f2,0 0 100px #ff00f2,0 0 150px #ff00f2,0 0 200px #ff00f2;
    }
    50%{
        text-shadow: 0 0 50px #fff200,0 0 100px #fff200,0 0 150px #fff200,0 0 200px #fff200;
    }
    75%{
        text-shadow: 0 0 50px #00ff88,0 0 100px #00ff88,0 0 150px #00ff88,0 0 200px #00ff88;
    }
    100%{
        text-shadow: 0 0 50px #00e1ff,0 0 100px #00e1ff,0 0 150px #00e1ff,0 0 200px #00e1ff;
    }
    
}

@keyframes animate2 {
    25% {
        text-shadow: 0 0 50px #00e1ff,0 0 100px #00e1ff,0 0 150px #00e1ff,0 0 200px #00e1ff;
    }
    50%{
        text-shadow: 0 0 50px #ff00f2,0 0 100px #ff00f2,0 0 150px #ff00f2,0 0 200px #ff00f2;
    }
    75%{
        text-shadow: 0 0 50px #fff200,0 0 100px #fff200,0 0 150px #fff200,0 0 200px #fff200;    }
    100%{
        text-shadow: 0 0 50px #00ff88,0 0 100px #00ff88,0 0 150px #00ff88,0 0 200px #00ff88;
    }
    
}

@keyframes animate3 {
    25% {
        text-shadow: 0 0 50px #00ff88,0 0 100px #00ff88,0 0 150px #00ff88,0 0 200px #00ff88;
    }
    50%{
        text-shadow: 0 0 50px #00e1ff,0 0 100px #00e1ff,0 0 150px #00e1ff,0 0 200px #00e1ff;
    }
    75%{
        text-shadow: 0 0 50px #ff00f2,0 0 100px #ff00f2,0 0 150px #ff00f2,0 0 200px #ff00f2;
    }
    100%{
        text-shadow: 0 0 50px #fff200,0 0 100px #fff200,0 0 150px #fff200,0 0 200px #fff200;
    }
    
}

@keyframes animate4 {
    25% {
        text-shadow: 0 0 50px #fff200,0 0 100px #fff200,0 0 150px #fff200,0 0 200px #fff200;
    }
    50%{
        text-shadow: 0 0 50px #00ff88,0 0 100px #00ff88,0 0 150px #00ff88,0 0 200px #00ff88;
    }
    75%{
        text-shadow: 0 0 50px #00e1ff,0 0 100px #00e1ff,0 0 150px #00e1ff,0 0 200px #00e1ff;
    }
    100%{
        text-shadow: 0 0 50px #ff00f2,0 0 100px #ff00f2,0 0 150px #ff00f2,0 0 200px #ff00f2;    }
    
}
































































